@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #F3F3EE;
}

#app {
  height: 100vh;
}

// top-bar styles
.top-bar {
  z-index: 2000;
}
.logo {
  float: left;
  height: 15vh;
}

// .top-bar-link {
//   color: #F3F3EE;
//   font-size: 22px;
//   margin: 5.7vh 0px 0px 15px;
//   background-color: #ae9133;
// }

// .top-bar-link:hover {
//  background-color: #7b6400;
// }
// .top-bar-link:visited {
//   background-color: #ae9133;
// }

// .top-bar-link:visited:hover {
//   background-color: #7b6400;
//  }
 
.signOut {
  margin-right: 15px;
  font-size: 20px;
}

.signIn {
  font-size: 20px;
  margin-right: 15px;
}

.signUp {
  font-size: 20px;
  margin-right: 15px;
  background-color: #ae9133;
}
.signUp:hover {
  background-color: #7b6400;
}

// classSectionIndex styles
.class-fab {
  float: right;
  bottom: 10px;
  position: fixed;
}

.MuiFab-primary.class-fab {
  background-color: #ae9133;
}
.MuiFab-primary.class-fab:hover {
  background-color: #7b6400;
}
.MuiTypography-h1.class-index-header {
  color: #271e27;
  margin: 20px 0px 10px 0px;
}
// classSectionTile styles
.MuiButtonBase-root.class-card-button {
  background-color: #F3F3EE;
  color:#271e27;
}

.delete-class-icon {
  float: right;
}

.edit-class-icon {
  float: right;
}

.class-card {
  text-align: center;
  min-height: 220px;
  h3 {
    margin-top: 40px;
  }
}

.class-card-buttons {
  justify-content: space-evenly;
  margin-top: 10px;
}

// class form styles
.MuiButtonBase-root.class-form-button {
  background-color: #F3F3EE;
  color:#271e27;
}

.class-form-card {
  text-align: center;
  min-height: 220px;
}

.MuiPaper-root.class-form-card {
  background-color:#7E93A2;
  color:#F3F3EE;
}

label.MuiFormLabel-root{
  color:#271e27;
}

label.MuiFormLabel-root.Mui-focused{
  color:#271e27;
}

#new-class-name:focus {
  background-color:#7E93A2;
}

.class-form-button {
  justify-content: space-evenly;
}

.class-form-header {
  padding-bottom: 15px;
}

// class form styles specific to the NEW class form
#new-class-name-label {
  color: #F3F3EE;
  font-size: x-large;
}

#new-class-name {
  color: #F3F3EE;
  font-size: x-large;
}

// class form styles specific to the EDIT class form
#edit-class-name-label {
  color: #F3F3EE;
  font-size: x-large;
}

#edit-class-name {
  color: #F3F3EE;
  font-size: x-large;
}

#edit-class-name:focus {
  background-color:#7E93A2;
}
.edit-class-form {
  margin-top: 40px;
}

// roster page styles

.student-fab {
  float: right;
  position: fixed;
}
.MuiFab-primary.student-fab {
  background-color: #ae9133;
}
.MuiFab-primary.student-fab:hover {
  background-color: #7b6400;
}
//table styles
.table-container {
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  margin-top: 20px;
}

.table {
  max-width: 90%;
  max-height: 75vh;
}

.table-header-row {
  .MuiTableCell-stickyHeader  {
    background-color: #516573;
    font-size: larger;
    color:#F3F3EE;
  }
}

.table-row {
  .MuiTableCell-root {
    font-size: large;
  }
}

tr:nth-child(odd) {
  background-color: #aec3d3;
}


// add student form styles
.lastInitial-field.MuiFormControl-root {
  margin: 5px 10px;
}

.firstName-field.MuiFormControl-root {
  margin: 5px 0px;
}

#new-student-lastInitial {
  max-width: 80px;
}

#new-student-socialEmotionalTier {
  width: 155px;
}

#new-student-academicTier {
  width: 130px;
}

.new-student-form-errors {
  width: 90%;
  margin-left: 5%;
}

.student-form-close-button {
  float: right;
}

// edit student form styles
 #edit-student-lastInitial {
   max-width: 80px;
 }

// edit class form styles
.class-form-close-button {
  float: right;
}

// delete alert dialog
.MuiPaper-root.MuiDialog-paper {
  background-color: #F3F3EE;
  color: #271e27;
}

.dialog-cancel-button.MuiButton-root {
  background-color: #516573;
  color:#F3F3EE;
}

.dialog-cancel-button.MuiButton-root:hover {
  background-color: #7E93A2;
  color:#F3F3EE;
}

.dialog-proceed-button.MuiButton-root {
  background-color: #516573;
  color:#F3F3EE;
}

.dialog-proceed-button.MuiButton-root:hover {
  background-color: #7E93A2;
  color:#F3F3EE;
}

#delete-class-alert-dialog-description {
  color: #4f454f;
}

#delete-student-alert-dialog-description {
  color: #4f454f;
}

// arrangement show page
.arrangement-header.MuiTypography-root {
  margin-top: 20px;
}

// New arrangement form
.arrangement-form-close-button.MuiButtonBase-root {
  width:45px;
}

.arrangement-form-size.MuiFormControl-root {
  margin: 10px;
  width: 130px;
  display: flex;
}

#new-arrangement-name:focus {
  background-color: #F3F3EE;
}

.arrangement-form-type.MuiFormControl-root {
  margin: 10px;
  min-width: 200px;
}

.arrangement-submit-button.MuiButton-root {
  background-color: #516573;
  color:#F3F3EE;
}

.arrangement-submit-button.MuiButton-root:hover {
  background-color: #7E93A2;
  color:#F3F3EE;
}

.arrangement-form-dialog.MuiDialog-paperScrollPaper {
  align-content: center;
  justify-content: center;
}

#create-new-groups-form { 
  text-align: center;
}

.arrangement-name.MuiFormControl-root {
  margin: 10px;
}

//first arrangement form card
.first-arrangement-card {
  background-color: #7E93A2;
}