@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.add-class-fab {
  float: right;
  margin: 0px;
  top: auto;
  right: -20px;
  bottom: 20px;
  left: auto;
  position: fixed;
}

.class-card {
  text-align: center;
  padding-bottom: 15px;
}

.class-card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.MuiContainer-root.class-index-container {
  margin: 40px;
  padding-right: 100px;
}